@import url(reset.css);
@import url(fonts.css);
/* 'Roboto', sans-serif */
/* шрифты поключены через отдельный файл */
/* стилизация в rem - так будет удобнее масштабтровать макет через 
   изменения в корневом эелементе html */
/* Все прарметы цветовой палитры переведыны в формат HEX */


/* -------------КОРНЕВОЙ ЭЛЕМЕНТ------------ */
html{
    background-color:#ece7e7; 
    font-family:'Roboto', sans-serif ;
    font-weight: 100;
    font-size: 10px;
}

*,
::before,
::after{
    box-sizing: border-box;
}
/* -------------Body-ОБЁРТКА------------ */
.body__wrapper{
    width: 92.5rem;
    height: 80.13rem;

    margin: 0 auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items:flex-end;

    background-color: #FFFFFF;
}
/* -------------ОБЁРТКА ВНУТРЕННЕЙ СТРАНИЦЫ------------ */
.page__box{
    width: 80rem;
    height: 74.3rem;
    
    margin-bottom: 1.88rem;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: column wrap;
}

/* -------------КОНТЕЙНЕРЫ СТРУКТУРЫ СТРАНИЦЫ------------ */
/* -------------Семантические элементы страницы---------- */

[class*="__container"]{
    /* все элементы страницы */
    width: 100%;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.header{
    flex-basis: 11.82rem;
}

.main{
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
    gap: 3.25rem;
}

.footer{
    flex-basis: 4.32rem;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 8.44rem;
    
    background-color: #63696e7a;
}

/* -------------БЛОК HEADER------------ */

.header__logo-title{
    /* бокс для Лого */
    width: 20.88rem;
    height: 4.93rem;

    display: inline-flex;
}

.logo-title__link{
    /* Активная ссылка Лого */
    font-style: normal;
    font-weight: 400;
    font-size: 5rem;
    line-height: 5.875rem;

    text-decoration: none;
    color: #000000;
}

.logo-title__letters_blue{
    /* Цвет второй части букв Лого */
    color: #4BCAFF;

}
.logo-title__link:hover::after{
    /* Стилизация Лого */
    content: "!";
    color: #4BCAFF;
}

.header__navbar{
    /* Блок навигации */
    width: 100%;
    height: 4.31rem;

    display: flex;
    flex-flow: row nowrap;
}

.header__navigation-menu{
    /* Меню навигации */
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    gap: 0.063rem;
}

.header-menu__item{
    /* Пункт меню навигации */
    flex-grow: 1;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    background-color: #35444F;
}

.header-menu__link{
    /* Активная ссылка меню навигации */
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.75rem;

    color: #FFFFFF;
    text-decoration: none;

}
.header-menu-item_grey-hover:hover{
    /* Стилизация пункта меню навигации */
    transform: scale(1.2);
}

/* -------------БЛОК ASIDE------------ */
.main__aside{
    width: 21.5rem;
    height: 24.94rem;

    margin-top: 3.06rem;

    display: flex;
    flex-flow: column wrap;

    background-color: #FFFFFF;
    border: 0.063rem solid  #000000;
}

.aside__navbar{
    /* блок навигации */
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
}

.aside__navigation-menu{
    /* меню навигации */
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.aside-menu__item{
    /* пункт меню навигации */
    flex-grow: 1;
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-left: 2.38rem;
}

.aside-menu__item:nth-child(2){
    /* пункт меню навигации с другим цветом фона */
    background-color:  #DBDBDB;   
}

.aside-menu__link{
    /* активная ссылка навигации */
    font-style: normal;
    font-weight: 400;
    font-size: 1.69rem;
    line-height: 1.69rem;
   
    text-decoration: none;
    color: #495863;
}

.aside-menu__link_grey{
    /* пункт меню с другим цевтом шрифта */
    color: #000000;
}

.aside-menu__item_grey-hover:hover{
    /* стилизация пункта меню */
    transform: scale(1.2);
}

/* -------------БЛОК ARTICLE (div)------------ */

/* -------------БЛОК IMAGE в ARTICLE------------ */
.article__outer-image-box{
    width: 55.32rem;
    height: 33.07rem;

    margin-top: 3.06rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0.063rem solid #000000;
}

.article__inner-image-box{
    /* внешняя обертка главного изображения */
    width: 20rem;
    height: 23.81rem;
}

.main-picture{
    /* Главная картинка */
    width: 100%;
}

.main-picture:hover{
    /* Стилизация гавной картинки  */
    transition: 0.45s;
    transform: scale(1.1);
}

/* -------------БЛОК TEXT в ARTICLE------------ */

.article__text-content-box{
    /* Текстовый блок */
    width: 55.32rem;
    height: 16.45rem;

    margin-top: 3.32rem;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 2.0rem;

}

.article__paragraph{
    /* Стилизация параграфов */
    width: 100%;

    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;

    text-align: left;

    color: #2C2C2C;
}

.paragraph-first_upper{
    /* Первый (верхний) параграф */
    height: 7.5rem;
}

.paragraph-second_lower{
    /* Второй(нижний) параграф */
    height: 6.8rem;
}

/* -------------БЛОК FOOTER------------ */


.footer__navbar{
    /* Блок навигации */
    width: 54.7rem;
    height: 1.75rem;
    margin-left: 2.5rem;
    /* border: 1px solid #000; */

    display: flex;
    flex-flow: row nowrap;
}

.footer__navigation-menu {
    /* Меню навигации */
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.footer-menu__item {
    /* Пункт меню навигации */
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.footer-menu__link{
    /* Активная ссылка меню навигации */
    font-style: normal;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 1.75rem;

    color: #0C1927;

    text-decoration: none;
}

.footer-menu__link-blue{
    /* Стилизация сслыки меню с другим цветом */
    color: #3181A6;
    border-bottom: 0.12rem solid #3181A6;
}

.footer-menu__item-blue-hover:hover{
    /* Стилизация пункта меню */
    transform: scale(1.2);
}

.footer__copyright-text{
    /* Текст полонтитула */
    height: 100%;
    width: 11.88rem;
    margin-right: 2.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5rem;
}